<a href="https://colab.research.google.com/github/Geofgabriel/Spark-con-Python/blob/main/Pyspark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://spark.apache.org/docs/1.2.1/api/python/index.html

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 64 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=491f191a02264b94e671c148b44251934aa93ce053da39393e3744064787cda9
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
import pyspark

In [ ]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/FreeCodeCamp/test1.csv')
data.head()

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000

tenemos que iniciar/crear una sesión de spark

In [ ]:
from pyspark.sql import SparkSession

Creamos una con el nombre que queremos: Practicando

In [ ]:
spark = SparkSession.builder.appName(name="Practicado").getOrCreate()

In [ ]:
spark # podemos ver que está generada

In [ ]:
df_pyspark=spark.read.csv("/content/drive/MyDrive/Colab Notebooks/FreeCodeCamp/test1.csv")

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Observar que hay un problemilla con el header. Una forma de quitarlo es mediante la opción de header

In [ ]:
df_spark = spark.read.option('header','true').csv("/content/drive/MyDrive/Colab Notebooks/FreeCodeCamp/test1.csv").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
type(df_pyspark) # vemos el tipo de dato y que es similar a un data frame de pandas.

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='age', _c2='Experience', _c3='Salary'),
 Row(_c0='Krish', _c1='31', _c2='10', _c3='30000'),
 Row(_c0='Sudhanshu', _c1='30', _c2='8', _c3='25000')]

De la siguiente forma se puede ver que tipo de info tengo guardada.

In [ ]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)